* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;

  background: #fff;

  margin-bottom: 20px;
  border-bottom: 3px solid orange;
  z-index: 2;
}
.logo {
  height: 48px;
  width: 80px;
  margin: 5px 10px;
}
.form-control {
  margin-top: 9px !important;
  margin-left: 30px !important;
  border: 1px solid orange !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}
.input-group-text {
  background: orange !important;
  border: 1px solid orange !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20 !important;
  border-bottom-right-radius: 20 !important;
  cursor: pointer;
}
.search-box {
  display: inline-flex;
  width: 60%;
}
.fa-search {
  color: #fff;
}
.menu-bar {
  width: 40%;
  height: 57px;
  float: right;
}
.menu-bar ul {
  display: inline-flex;
  float: right;
}
.menu-bar ul li {
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: orange;
  cursor: pointer;
}
.menu-bar ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.fa-shopping-basket {
  margin-right: 5px;
}

/*--------------------Mobile-Friendly---------------------------------*/

/*
@media only screen and (max-width: 980px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    margin: 10ppx 0;
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}

*/
/*--------------------Mobile-Friendly--End-------------------------*/
/*------------------------Side-Menu-------------------------------*/
.side-menu {
  position: fixed;
  height: 44%;
  width: 12%;
  font-size: 14px;
  float: left;
  z-index: 1;
  background-color: #ddd;
  margin-right: 10px;
}

.side-menu ul {
  /* padding-right: 10px;*/
  padding-left: 20px;
  /*margin-left: -15px;*/
}
.side-menu ul li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  margin-left: -5px;
}
.side-menu ul li a:hover {
  color: red;
  text-decoration: none;
}
.side-menu ul li ul {
  display: none;
  z-index: 10;
  top: 77px;
}
.side-menu ul li:hover ul {
  display: block;
  height: 300px;
  margin-left: 11%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.fa-angle-right {
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}

#menu-btn,
#close-btn {
  font-size: 30px;
  margin: 10px;
  color: orange;
  display: none;
}

/*----------------------------Mobile-Friendly---------------------------*/
/*
@media only screen and (max-width: 980px) {
  .side-menu {
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    display: none;
  }
  .side-menu ul li ul {
    top: 133px;
  }
  .side-menu ul li:hover ul {
    margin-left: 31%;
  }
  #menu-btn {
    display: block;
  }
}
&/
/*--------------------------Mobile-Friendly--End-------------------------*/

/*--------------------------------------Side-Menu-End--------------------*/

/*-------------------------------------featured-categories---------------*/
.featured-categories {
  margin: 50px 15px;
}
.featured-categories img {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  transition: 1s;
  cursor: pointer;
  background: orange;
}
.featured-categories img:hover {
  transform: scale(1.1);
}
/*------------------------------featured-categories--End--------------------*/
/*------------------------------On-Sale------------------------------------*/
.on-sale {
  width: 705px;
  margin: 20px auto;
  padding: 20px;
}

.title-box {
  background: orange;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}
.title-box h2 {
  font-size: 24px;
}
.title-box::after {
  content: "";
  border-top: 40px solid orange;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}
.shop-item-image {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  transition: 1s;
  cursor: pointer;
  background: orange;
}

/*---------------------------On-Sale-End-----------------------------------*/
/*--------------------------------Product-Top-----------------------------*/
.product-top img {
  width: 100%;
}
.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}
.overlay-right .fa {
  cursor: pointer;
  background-color: white;
  color: black;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}

/*-----------------------------Product-Top-End----------------------------*/
/*------------------------------Product-Bottom----------------------------*/
.product-bottom .fa {
  color: orange;
  font-size: 10px;
}
.product-bottom .h3 {
  font-size: 20px;
  font-weight: bold;
}
.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}
.new-product {
  margin: 50px 0;
}
/*--------------------------Product-Bottom-End----------------------------*/

/*----------------------------Website-Feature----------------------------*/
.website-features {
  margin: 16px 0;
}
.website-features img {
  width: 20%;
}
.feature-text {
  margin-top: 10px;
  float: right;
  width: 80%;
  padding-left: 20px;
}
.feature-box {
  padding-top: 20px;
}
/*---------------------------Website-Feature-End--------------------------*/

/*--------------------------Footer-----------------------------------*/
.footer {
  /* margin-top: 500px;*/
  padding-bottom: -10px;
  background: #000;
  color: #fff;
}
hr {
  margin-bottom: -50;
}
.text-center {
  padding-bottom: 5px;
}
.footer h1 {
  font-size: 15px;
  margin: 25px 0;
}
.footer p {
  font-size: 12px;
}
.copyright {
  margin-bottom: -5px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}
.footer hr {
  margin-top: 10px;
  background-color: #ccc;
}
.footer-image img {
  width: 150px;
}
.footer .row .fa {
  padding-right: 20px;
  font-size: 15px;
}
.footer .col-md-3 {
  margin-left: 70px;
}
/*-----------------------Footer-End----------------------------------*/
